.about {
  padding: 50px;
}

.about__container {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

.about__image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 15px 15px 0;
  position: relative;
}

.about__image img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 2px 10px 50px #005eff3c;
}

.about__image::before,
.about__image::after {
  content: "";
  position: absolute;
  border-radius: 6px;

}

.about__image::before {
  background: url("../../../public/assets/assets/images/about/about_2.jpg") center / cover no-repeat;
  bottom: 30px;
  right: 120px;
  width: 250px;
  height: 200px;
  z-index: -1;
}

.about__image::after {
  background: url("../../assets/assets/images/about/about_3.jpg") center / cover no-repeat; 
  bottom: 10px;
  right: 190px;
  width: 250px;
  height: 200px;
  z-index: -2;
}

.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 0 22% 0 80px;
}

.about__content-text {
  font-style: italic;
  color: #8a8a8a;
}