.company {
  background-color: #f1f1f1;
  padding: 30px 15%;
}

.company__container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  width: 100%;
  height: 100%;
  gap: 32px;
  padding-top: 40px;
}

.company__main,
.company__card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.company__title {
  color: #234f90;
  font-weight: bold;
  width: 220px;
  line-height: 1.1;
}

.company__text p,
.company__signature-role{
 color: #8a8a8a;
 font-size: 0.8rem;
}

.company__signature-name {
  line-height: 1;
  color: #234f90;
  font-weight: 900;
  font-size: 1.2rem;
  display: block;
}

.company__card-image {
  width: 100%;
  height: 175px;
}

.company__card-title {
  color: #234f90;
  font-weight: 700;
  
}

