.services {
  padding: 50px 15px 30px;
  background-color: #234f90;
  position: relative;
}

.services__container {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(3, 1fr);
  
}

.services__container::after {
  content: "";
  background: url("../../assets/assets/images/services/connection.svg") center / cover no-repeat;
  width: 200px;
  height: 200px;
  opacity: 0.3;
  position: absolute;
  bottom: -45px;
  right: -45px;
  transform: rotate(35deg);
}