.services {
  padding: 50px 15% 30px;
  background-color: #234f90;
  position: relative;
  overflow: hidden;
}

.services__container {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(3, 1fr);
  gap: 25px;
  width: 100%;
  height: 100%;
}

.services__container::after {
  content: "";
  background: url("../../assets/assets/images/services/connection.svg") center / cover no-repeat;
  width: 200px;
  height: 200px;
  opacity: 0.3;
  position: absolute;
  bottom: -45px;
  right: -45px;
  transform: rotate(35deg);
}

.services__main{
  position: relative;
}

.services_main p {
  width: 150px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}

