.why__us {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.why__us-container {
  width: 100%;
  max-width: 960px;
  text-align: center;
}

.why__us-title {
  color: #005eff;
  font-weight: bold;
  font-size: 2.5rem;
}

.why__us-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.why__us-content::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.why__us-item {
  width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__us-label {
  margin-bottom: 10px;
  color: #b3b3b3;
  transition: all 0.3s ease;
}

.why__us-item:hover .why__us-label {
  color: #005eff;
  font-weight: bold;
}

.why__us-circle {
  width: 24px;
  height: 24px;
  border-radius: 48px;
  border: 1px solid #b3b3b3;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.why__us-circle::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 32px;
  position: absolute;
  background: #dfdfdf;
  transition: all 0.3s ease;
}

.why__us-item:hover .why__us-circle::after {
  background: #005eff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}