/* 0px até 657px */
@media (max-width: 657px) {
  .header__icons {
    display: block;
  }
  
  .hero {
    height: 150vh;
  }

  .features {
    bottom: -200px;
  }

  .header {
    height: 100px;
  }
  
  .header__nav {
  display: none;
  }

  .header__nav-item::after,
  .header__nav-item::before {
    display: none;
  }

  .header__nav-list{
    flex-direction: column;
    gap: 20px;
  }

  #menu:checked ~ .header__nav {
    display: block;
    position: absolute;
    top: 69px;
    right: 0;
    width: 50%;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header__icons .fa-x {
    display: none;
  }

  #menu:checked ~ .header__top .fa-x{
    display: block;
  }

  #menu:checked ~ .header__top .fa-bars{
    display: none;
  }

  .why__us {
    padding-top: 225px;
  }

  .feature__list {
    height: 100%;
    flex-wrap: wrap;
  }

  .about__container {
    grid-template: repeat(2,1fr) / 1fr;
  }

  .company__container {
    grid-template: repeat(3,1fr) / 1fr;
  }
  .services__container {
    grid-template: repeat(6,1fr) / 1fr;
  }
}

/* 658px até 920px */
@media (min-width: 658px) and (max-width: 920px) {
  .hero {
    height: 150vh;
  }

  .features {
    bottom: -200px;
  }

  .header {
    padding: 30px 10%;
  }
  

  .header__nav-item::after,
  .header__nav-item::before {
    display: none;
  }

  .why__us {
    padding-top: 225px;
  }
  .feature__list {
    flex-wrap: wrap;
    height: 100%;
  }

  .about,
  .about__content {
    padding: 25px;
  }

  .about__iamge::before {
    bottom: 65px;
    right: 45px;
  }

  .about__iamge::after {
    bottom: 45px;
    right: 75px;
  }

  .company__main {
    grid-area: 1/1/2/3;
  }
  .company__container {
    grid-template: 1/1/2/3;
  }
}