.header {
  position: absolute;
  inset: 0; /* Shorthand para top, right bottom e left */
  z-index: 1000;
  max-height: 180px;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0,0,0,0.3);
  backdrop-filter: blur(3px);
  padding: 30px 15%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.header__brand .header__logo {
  font-size: 3em;
  color: #fff;
  display: inline-block;
}

.header__brand .header__title,
.header__actions .header__info-main {
  display: block;
  color: #fff;
}

.header__brand .header__slogan,
.header__actions .header__info-sub,
.header__info .fa-solid {
  color: #d3d3d3;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__info {
  display: flex;
  align-items:  center;
  gap: 10px;
}
.header__nav {
  margin-top: 2rem;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  position: relative;
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.header__nav-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #bebebe92;
  z-index: 3;
}

.header__nav-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #005eff;
  z-index: 4;
  transition: width 0.5s ease;
}

.header__nav-item.is-active::before {
  background-color: #005eff;
}

.header__nav-item:hover::after {
  width: 100%;
}

.header__nav-link {
  color: #fff;
}
